.cause {
  font-family: "Cause", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: Cause;
  background-color: #f4f7f3;
  color: #2f3b2f;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

nav {
  font-family: Cause;
  margin: 20px 0;
}

nav a {
  display: inline-block;
  padding: 8px 12px;
  margin: 5px;
  background-color: #d7e5d2;
  color: #2f3b2f;
}

nav a:hover {
  background-color: #b4c7b2;
}

nav a.highlight {
  background-color: #8fb48c;
  color: white;
}

form {
  text-align: left;
}

form label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

input[type="text"], textarea {
  font-family: Cause;
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #909290;
  font-size: 14px;
}

button {
  font-family: Cause;
  margin-top: 20px;
  padding: 12px;
  background-color: #8fb48c;
  border: none;
  color: white;
  font-size: 15px;
}

button:hover {
  background-color: #799d76;
}

ul {
  padding: 0;
  list-style: none;
}

ul li {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 12px;
  border: 1px solid #909290;
  text-align: left;
}

.entry-card {
  background: #ffffff;
  border: 1px solid #909290;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  border-radius: 6px;
}

a {
  color: #589c5f;
  text-decoration: none;
}

a:hover {
  color: #2d623b;
  text-decoration: underline;
}
