<!DOCTYPE html>
<html>
    <head>
        <title>Welcome To Your Journal</title>
        <link href="https://fonts.googleapis.com/css2?family=Cause:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/journals.css">
    </head>

    <body>
        <h1>Welcome To Your Journal</h1>

        <nav>
          <a class="highlight" href="/">Home</a>
          <a href="/entries/add">Add Journal Entry</a>
          <a href="/entries">View All Entries</a>
        </nav>

        <div class="container">
            <h2> Document your special moments and revisit them anytime. </h2><br>
            <p> Feel free to add the astronomical image representing that day from NASA. </p>
            <p> However, you can only have one entry per day, so make it count!</p>
        </div>
    </body>
</html>
